.blogRoot {
  @include page-wrapper;
  background: #fff;
}

.posts {
  padding-bottom: 56px;

  @include laptop {
    padding-bottom: 80px;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
