.showFrom {
  display: none;

  &.tablet {
    @include tablet {
      display: block;

      &.flex {
        display: flex;
      }

      &.grid {
        display: grid;
      }
    }
  }

  &.laptop {
    @include laptop {
      display: block;

      &.flex {
        display: flex;
      }

      &.grid {
        display: grid;
      }
    }
  }

  &.desktop {
    @include desktop {
      display: block;

      &.flex {
        display: flex;
      }

      &.grid {
        display: grid;
      }
    }
  }
}

.hideFrom {
  display: block;

  &.flex {
    display: flex;
  }

  &.grid {
    display: grid;
  }

  &.tablet {
    @include tablet {
      display: none;
    }
  }

  &.laptop {
    @include laptop {
      display: none;
    }
  }

  &.desktop {
    @include desktop {
      display: none;
    }
  }
}

.hideOnly {
  display: block;
  &.flex {
    display: flex;
  }

  &.grid {
    display: grid;
  }

  &.mobile {
    @include maxTablet {
      display: none;
    }
  }

  &.tablet {
    @include onlyTablet {
      display: none;
    }
  }

  &.laptop {
    @include onlyLaptop {
      display: none;
    }
  }

  &.desktop {
    @include desktop {
      display: none;
    }
  }
}

.showOnly {
  display: none;

  &.mobile {
    @include maxTablet {
      display: block;

      &.flex {
        display: flex;
      }

      &.grid {
        display: grid;
      }
    }
  }

  &.tablet {
    @include onlyTablet {
      display: block;

      &.flex {
        display: flex;
      }

      &.grid {
        display: grid;
      }
    }
  }

  &.laptop {
    @include onlyLaptop {
      display: block;

      &.flex {
        display: flex;
      }

      &.grid {
        display: grid;
      }
    }
  }

  &.desktop {
    @include desktop {
      display: block;

      &.flex {
        display: flex;
      }

      &.grid {
        display: grid;
      }
    }
  }
}
